@page "/examples/attributes"
@layout ExampleLayout
<h1>Attributes</h1>

<p>Both the <code>BlazorGrid</code> and the <code>GridCol</code> components support custom attributes as well as custom CSS classes.</p>
<p>In the following example, we decorate the <code>BlazorGrid</code> with a custom <code>id</code> and use CSS to hide the header, and we also add a <code>text-primary</code> class and a <code>title</code> attribute to the Id column.</p>

<Tip>
    <span>CSS class names that you provide via the <code>class</code> attribute will be merged with the default BlazorGrid CSS classes automatically - so you don't need to repeat those.</span>
</Tip>
<Caution>
    <span>When you decorate a <code>GridCol</code> with a custom attribute as shown here, be sure to do a <code>null</code> check on the <code>context</code> variable which will be <code>null</code> while building the header. This check is not necessary inside the <code>GridCol</code>'s <code>ChildContent</code> however.</span>
</Caution>

<Tabs>
    <Tab Caption="Result" class="p-3">
        <BlazorGrid TRow="Employee"
                    SourceUrl="data/employees.json"
                    id="attributes-example-grid"
                    style="max-height: 340px;">
            <StaticGridCol FitToContent="true">
                <img src="@context.Avatar" style="width: 20px; height: 20px;" />
            </StaticGridCol>
            <GridCol For="() => context.Id" FitToContent="true" class="text-primary" title="@string.Join(" ", context.FirstName, context.LastName)" />
            <GridCol For="() => context.FirstName" />
            <GridCol For="() => context.LastName" />
            <GridCol For="() => context.Email">
                <a href="mailto:@context.Email">@context.Email</a>
            </GridCol>
        </BlazorGrid>
    </Tab>
    <Tab Caption="Code" class="p-3">
        <h6>Razor</h6>
        <pre class="pre-scrollable"><code>&lt;BlazorGrid TRow=&quot;Employee&quot; SourceUrl=&quot;data/employees.json&quot; id=&quot;attributes-example-grid&quot;&gt;
    &lt;StaticGridCol FitToContent=&quot;true&quot;&gt;
        &lt;img src=&quot;@@context.Avatar&quot; style=&quot;width: 20px; height: 20px;&quot; /&gt;
    &lt;/StaticGridCol&gt;
    &lt;GridCol For=&quot;() => context.Id&quot; FitToContent=&quot;true&quot; class=&quot;text-primary&quot; title=&quot;@@string.Join(&quot; &quot;, context.FirstName, context.LastName)&quot; /&gt;
    &lt;GridCol For=&quot;() => context.FirstName&quot; /&gt;
    &lt;GridCol For=&quot;() => context.LastName&quot; /&gt;
    &lt;GridCol For=&quot;() => context.Email&quot;&gt;
        &lt;a href=&quot;mailto:@@context.Email&quot;&gt;@@context.Email&lt;/a&gt;
    &lt;/GridCol&gt;
&lt;/BlazorGrid&gt;</code></pre>

        <h6>SCSS</h6>
        <pre class="pre-scrollable"><code>#attributes-example-grid &#123;
    .grid-header.grid-row &#123;
        display: none;
    &#125;
&#125;</code></pre>
    </Tab>
</Tabs>