@page "/examples/pre-loaded"
@layout ExampleLayout
@using System.Globalization
<h1>Pre loaded data</h1>

<p>BlazorGrid has basic support for displaying client-side data. The following grid uses a list of .Net's <code>CultureInfo</code> objects without any provider. Sorting, paging and filtering is not supported because those features depend on a provider.</p>
<p>Pre loading data in this fashion is not ideal due to limited features and potentially worse performance, however it can be suitable for small amounts of data.</p>

<Tabs>
    <Tab Caption="Result" class="p-3 overflow-auto" style="max-height: 500px;">
        <BlazorGrid Rows="Data" TRow="CultureInfo" EmptyRow="CultureInfo.CurrentCulture">
            <StaticGridCol Caption="LCID">@context.LCID</StaticGridCol>
            <StaticGridCol Caption="ISO code">@context.ThreeLetterISOLanguageName</StaticGridCol>
            <StaticGridCol Caption="Display name">@context.DisplayName</StaticGridCol>
        </BlazorGrid>
    </Tab>
    <Tab Caption="Code" class="p-3">
        <h6>Razor</h6>
        <pre class="pre-scrollable"><code>&lt;BlazorGrid Rows=&quot;Data&quot; TRow=&quot;CultureInfo&quot;&gt;
    &lt;StaticGridCol Caption=&quot;LCID&quot;&gt;@@context.LCID&lt;/GridCol&gt;
    &lt;StaticGridCol Caption=&quot;ISO code&quot;&gt;@@context.ThreeLetterISOLanguageName&lt;/GridCol&gt;
    &lt;StaticGridCol Caption=&quot;Display name&quot;&gt;@@context.DisplayName&lt;/GridCol&gt;
&lt;/BlazorGrid&gt;

@@code
{
    private List&lt;CultureInfo&gt; Data { get; set; } = CultureInfo
        .GetCultures(CultureTypes.NeutralCultures)
        .ToList();
}</code></pre>
    </Tab>
</Tabs>
@code
{
    public bool ShowCode { get; set; }
    private List<CultureInfo> Data { get; set; } = CultureInfo.GetCultures(CultureTypes.NeutralCultures).ToList();
}