$bzg-layout-spacing: 0.4rem !default;
$bzg-component-hover-color: rgba(0, 0, 0, 0.1) !default;
$bzg-component-active-color: rgba(0, 0, 0, 0.15) !default;
$bzg-bg-color: inherit !default;
$bzg-font-size-xs: 80% !default;
$bzg-primary-color: #652c94;
$bzg-primary-color-light: hsl(273, 67%, 47%);
$bzg-bg-color-darker: hsl(273, 67%, 47%);
