$light: #f9f9f9;
$primary: #613ccd;
$warning: #f1a500;
$font-family-monospace: monospace;

@import "bootstrap/scss/bootstrap.scss";
@import "../../BlazorGrid/Styles/blazorgrid-bootstrap.scss";
@import "font-awesome/css/font-awesome.css";
@import "menu.scss";

body,
app {
    height: 100%;
    width: 100%;
    cursor: default;
    background-color: $body-bg;
    user-select: none;
    overflow-y: scroll;
}

code {
    font-size: $font-size-base * 1.1;
    user-select: text;
    cursor: text;
}

pre code {
    font-size: $font-size-base;
}

.pre-scrollable {
    border: $border-width solid $primary;
    background-color: $light;
    border-radius: $border-radius;
    padding: map-get($spacers, 2);
}

.nav {
    .nav-link:not(:disabled) {
        cursor: pointer;
    }

    &.nav-pills, &.nav-tabs {
        .nav-link {
            &:hover {
                background-color: $gray-100;
            }

            &:active {
                background-color: $gray-200;
            }
        }
    }

    &.nav-pills {
        .nav-item + .nav-item {
            margin-left: map-get($spacers, 2);
        }

        .nav-link {
            &.active {
                background-color: $primary;
            }
        }
    }
}

#content {
    min-height: 100vh;
}

.hidden {
    visibility: hidden;
}

.overflow-auto {
    overflow: auto !important;
}

.overflow-none {
    overflow: hidden !important;
}

.form-group {
    font-weight: bold;
}

#attributes-example-grid {
    .grid-header.grid-row {
        display: none;
    }
}

.sidebar {
    min-width: 200px;
    background: $light;
}

.hero {
    display: flex;
    min-height: 100vh;
    background: rgb(23,162,184);
    background: linear-gradient(312deg, $dark 0%, $primary 50%, $info 100%);
    color: $light;
    font-size: $font-size-lg;
    text-shadow: 0 0 5px rgba(0,0,0,.3);

    .badge {
        box-shadow: $box-shadow;
    }
}
