$light: #f9f9f9;
$primary: #20af71;
$font-family-monospace: monospace;

@import "bootstrap/scss/bootstrap.scss";
@import "../../BlazorGrid/Content/blazorgrid-bootstrap.scss";
@import "font-awesome/css/font-awesome.css";
@import "menu.scss";

body,
app {
    height: 100%;
    width: 100%;
    cursor: default;
    background-color: $body-bg;
    user-select: none;
    overflow-y: scroll;
}

code {
    font-size: $font-size-base * 1.1;
    user-select: all;
    cursor: text;
}

pre code {
    font-size: $font-size-base;
}

.nav.nav-tabs .nav-link {
    cursor: pointer;
}

#content {
    min-height: 100vh;
}

.hidden {
    visibility: hidden;
}

.overflow-auto {
    overflow: auto !important;
}

.overflow-none {
    overflow: hidden !important;
}

.form-group {
    font-weight: bold;
}

#attributes-demo-grid {
    .grid-header.grid-row {
        display: none;
    }
}

#demo-menu {
    min-width: 200px;
}
