@layout DocumentationLayout
@page "/docs/configuration/dependency-injection"
@inherits CommonPageBase
<h1>@Title</h1>
<p>BlazorGrid requires a configuration object that provides CSS classes (and potentially other options) to all grids in your application. To set it up with the default configuration, add the line following to your <code>Program.cs</code> file:</p>
<pre class="pre-scrollable"><code>builder.Services.AddBlazorGrid()</code></pre>
@code
{
    protected override string Title => "Dependency injection";
}