@page "/basic"
@inject HttpClient Http

<h1>Exchange rates</h1>

<p>This is a basic example to show what the grid looks like with minimal configuration.</p>
<p>This grid will pull live information from openexchangerates.org using a custom grid data provider.</p>

<BlazorGrid TRow="ExchangeRate" SourceUrl="https://api.exchangeratesapi.io/latest">
    <GridCol Caption="Currency" TRow="ExchangeRate">
        @context.Id
    </GridCol>
    <GridCol Caption="Rate" TRow="ExchangeRate">
        @context.Rate
    </GridCol>
</BlazorGrid>