@page "/"
<h1>Welcome to BlazorGrid</h1>
<p>This is a simple Blazor application which demonstrates the abilities of the BlazorGrid data grid component.</p>
<p>For more information as well as the source code, see <a href="https://github.com/Akinzekeel/BlazorGrid">GitHub</a>.</p>