@page "/"
@inherits CommonPageBase
<div class="px-md-5 px-2 hero py-2 py-sm-4 py-lg-0">
    <div class="container my-auto pb-md-4 pb-xl-5">
        <a href="https://www.nuget.org/packages/Akinzekeel.BlazorGrid"><img src="https://buildstats.info/nuget/Akinzekeel.BlazorGrid?includePrereleases=true" alt="NuGet package statistics" /></a>
        <div class="display-4 d-xl-none my-2 mb-md-4 mb-xl-5">@HeroCaption</div>
        <div class="display-3 d-none d-xl-block my-2 mb-md-4 mb-xl-5">@HeroCaption</div>
        <div class="row mb-5">
            <div class="col-xl-4 col-md-6">
                <h4>Features</h4>
                <ul class="list-unstyled">
                    <li><i class="fa fa-angle-right mr-2 text-white-50"></i>Virtualization</li>
                    <li><i class="fa fa-angle-right mr-2 text-white-50"></i>Custom styling</li>
                    <li><i class="fa fa-angle-right mr-2 text-white-50"></i>Server side sorting &amp; filtering</li>
                </ul>
            </div>
            <div class="col-xl-3 col-md-6">
                <h4>Supports</h4>
                <ul class="list-unstyled">
                    <li><i class="fa fa-angle-right mr-2 text-white-50"></i>Blazor WebAssembly</li>
                    <li><i class="fa fa-angle-right mr-2 text-white-50"></i>Blazor server side</li>
                    <li><i class="fa fa-angle-right mr-2 text-white-50"></i>JSON, gRPC &amp; other</li>
                </ul>
            </div>
            <div class="col-xl-5 mt-3 mt-xl-0">
                <div class="row">
                    <div class="col-lg-6 col-xl-12">
                        <h4>Packages</h4>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-angle-right mr-2 text-white-50"></i>
                                <a class="text-monospace text-light" href="https://www.nuget.org/packages/Akinzekeel.BlazorGrid">Akinzekeel.BlazorGrid</a>
                                <span class="badge ml-1" title="Including optional assets">~41.7 KB</span>
                            </li>
                            <li>
                                <i class="fa fa-angle-right mr-2 text-white-50"></i>
                                <a class="text-monospace text-light" href="https://www.nuget.org/packages/Akinzekeel.BlazorGrid.Abstractions">Akinzekeel.BlazorGrid.Abstractions</a>
                                <span class="badge ml-1">~18 KB</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-xl-12">
                        <div><strong>Only ~33 KB payload</strong></div>
                        <div><small>Less than 60 KB including optional assets</small></div>
                        <div class="d-xl-none">
                            <small>80% smaller than comparable JS libraries!</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col-xl-auto">
                <div class="d-flex flex-wrap align-items-end">
                    <div class="mr-2">
                        <small class="d-block my-1"><i class="fa fa-rocket mr-2"></i>.NET 5 ready</small>
                        <a class="btn btn-lg btn-info text-nowrap" href="https://www.nuget.org/packages/Akinzekeel.BlazorGrid" target="_blank">
                            <i class="fa fa-download mr-2"></i>
                            <strong>Download now from NuGet</strong>
                        </a>
                    </div>
                    <div class="mr-2 mt-2">
                        <a class="btn btn-lg btn-outline-light text-nowrap" href="/examples">Try it</a>
                    </div>
                    <div class="mt-2">
                        <a class="btn btn-lg btn-outline-light" href="/docs">Documentation</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-auto flex-grow-1 text-xl-right mt-3 mt-xl-0">
                <span class="d-block d-md-inline d-xl-block">Already downloaded?</span>
                <a class="text-light text-nowrap" href="/getting-started"><strong>Follow the getting started guide</strong><i class="fa fa-long-arrow-right ml-1"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="container py-5">
    <h1>FAQ</h1>
    <h5 class="mt-4">Is BlazorGrid free?</h5>
    <p>Yes, BlazorGrid is an open-source project licensed under the MIT license. This means it's free to use even for commercial projects.</p>
    <h5 class="mt-4">I found a bug! What can I do?</h5>
    <p>If you have any issues with BlazorGrid, please report them on <a href="https://github.com/Akinzekeel/BlazorGrid/issues">GitHub</a>.</p>
    <hr />
    <p>Got another question? <a href="https://github.com/Akinzekeel/BlazorGrid/issues">Ask on GitHub <i class="fa fa-long-arrow-right"></i></a></p>
</div>
@code
{
    protected override string Title => "";

    private RenderFragment HeroCaption => __builder =>
    {
    @:The <span class="badge">free</span> data grid component of choice for <a href="https://blazor.net/" target="_blank" class="badge">Blazor</a>.
    };
}