@page "/"
<div class="container my-5">
    <h1>Welcome to BlazorGrid</h1>
    <p class="lead">BlazorGrid is an interactive data grid component for the <a href="https://blazor.net/" target="_blank">Blazor</a> framework.</p>

    <h3>Features</h3>
    <ul class="list-unstyled">
        <li><i class="fa fa-fw fa-angle-right"></i>Sorting</li>
        <li><i class="fa fa-fw fa-angle-right"></i>Filtering</li>
        <li><i class="fa fa-fw fa-angle-right"></i>Remote data</li>
    </ul>

    <h3>Supported UI frameworks</h3>
    <ul class="list-unstyled">
        <li><i class="fa fa-fw fa-check"></i>Bootstrap</li>
        <li><i class="fa fa-fw fa-check"></i>Spectre</li>
    </ul>

    <h3>About this page</h3>
    <p>This is a simple Blazor application which demonstrates the abilities of the BlazorGrid data grid component.</p>
    <p>This site is still in active development and some of the demos are not available yet. There will also be a more to-the-point documentation that describes the types and names of the parameters.</p>

</div>