@page "/pre-loaded"
@using System.Globalization
<h1>Pre loaded data</h1>
<p>BlazorGrid has basic support for displaying client-side data. The following grid uses a list of .Net's CultureInfo objects without any provider. Sorting, paging and filtering is not supported because those require a provider.</p>
<p>Pre loading data in this fashion is not ideal, however it can be suitable for small amounts of data.</p>
<hr />
@if(ShowCode)
{
    <pre class="pre-scrollable mb-2"><code>&lt;BlazorGrid Rows=&quot;Data&quot; TRow=&quot;CultureInfo&quot;&gt;
    &lt;GridCol Caption=&quot;LCID&quot;&gt;@@context.LCID&lt;/GridCol&gt;
    &lt;GridCol Caption=&quot;ISO code&quot;&gt;@@context.ThreeLetterISOLanguageName&lt;/GridCol&gt;
    &lt;GridCol Caption=&quot;Display name&quot;&gt;@@context.DisplayName&lt;/GridCol&gt;
&lt;/BlazorGrid&gt;

@@code
{
    private List&lt;CultureInfo&gt; Data { get; set; } = CultureInfo.GetCultures(CultureTypes.NeutralCultures).ToList();
}</code></pre>

    <button class="btn btn-sm btn-secondary" @onclick="() => ShowCode = false">Back</button>
}
else
{
    <button class="btn btn-sm btn-secondary mb-2" @onclick="() => ShowCode = true">Show code</button>

    <BlazorGrid Rows="Data" TRow="CultureInfo">
        <GridCol Caption="LCID">@context.LCID</GridCol>
        <GridCol Caption="ISO code">@context.ThreeLetterISOLanguageName</GridCol>
        <GridCol Caption="Display name">@context.DisplayName</GridCol>
    </BlazorGrid>
}
@code
{
    public bool ShowCode { get; set; }
    private List<CultureInfo> Data { get; set; } = CultureInfo.GetCultures(CultureTypes.NeutralCultures).ToList();
}