@implements IGridCol
@if (Parent == null)
{
    <div @attributes="FinalAttributes">@ChildContent</div>
}
else
{
<div @onclick="_ => Parent.TryApplySorting(OrderBy)" class="@CssClass">
    @if (!AlignRight)
    {
        @Caption
    }
    @if (IsFiltered)
    {
        <span class="blazor-grid-filter-icon @(IsFiltered ? "text-secondary" : "text-gray")">
            *
        </span>
    }
    else if (IsSortable)
    {
        <span class="blazor-grid-sort-icon">
            @if (IsSorted)
            {
                if (Parent.OrderByDescending)
                {
                    @:&rsaquo;
                }
                else
                {
                    @:&lsaquo;
                }
            }
            else
            {
                @:&lsaquo;&rsaquo;
            }
        </span>
    }
    @if (AlignRight)
    {
        @Caption
    }
</div>
}