@typeparam T
@implements IGridCol<T>
@inherits ColBase
@if (Register == null)
{
    <div @attributes="FinalAttributes" @onclick="OnClickBinder">
        @if (ChildContent is null)
        {
            @GetAutoValue()
        }
        else
        {
            @ChildContent
        }
    </div>
}