@typeparam T
@implements IGridCol<T>
@if (Parent == null)
{
    <div @attributes="FinalAttributes">
        @if (ChildContent == null)
        {
            @GetAutoValue()
        }
        else
        {
            @ChildContent
        }
    </div>
}