/**
    Part of Akinzekeel.BlazorGrid
    Last updated for version 0.5.0-beta
**/
@import "Variables";
@import "Empty";
@import "Loading";

.blazor-grid {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: inherit;

    .grid-scrollview {
        display: grid;
        background-color: inherit;
        grid-template-columns: repeat(auto);
    }

    .grid-row {
        display: contents;

        > * {
            padding: $layout-spacing;
            border-bottom: 1px solid $component-hover-color;
            border-left: 2px solid transparent;
            border-top: 1px solid transparent;
        }

        &.grid-header {
            background-color: inherit;

            > * {
                top: 0;
                position: sticky;
                white-space: nowrap;
                background: $bg-color;
                z-index: 10;
                font-weight: bold;

                &:first-child {
                    border-left-color: transparent !important;
                }

                .blazor-grid-sort-icon {
                    font-size: $font-size-lg;
                    opacity: 0.2;
                    padding: 0 $unit-1 $unit-1 $unit-1;
                    transform: rotate(90deg);
                    display: inline-block;
                }

                &.sorted {
                    .blazor-grid-sort-icon {
                        opacity: 1 !important;
                        color: $primary-color-light;
                    }
                }

                &.sortable {
                    cursor: pointer;

                    &:hover,
                    &:focus {
                        color: $primary-color !important;
                        background: $component-hover-color;

                        .blazor-grid-sort-icon {
                            opacity: 0.5;
                        }
                    }

                    &:active {
                        background: $bg-color-dark;
                    }
                }
            }

            &:hover {
                > * {
                    + * {
                        border-left: 2px solid $component-hover-color;
                    }
                }
            }
        }

        &.clickable {
            &:hover,
            &:focus {
                > * {
                    background-color: $component-hover-color;
                }
            }

            &:active {
                > * {
                    background-color: $component-active-color;
                }
            }
        }
    }
}
