$bzg-cell-padding-x: $layout-spacing !default;
$bzg-cell-padding-y: $layout-spacing !default;
$bzg-cell-hover-bg: $component-hover-color !default;
$bzg-cell-hover-color: $body-font-color !default;
$bzg-cell-active-bg: $component-active-color !default;
$bzg-cell-active-color: $body-font-color !default;
$bzg-cell-border-bottom-width: 1px !default;
$bzg-cell-border-color: $border-color !default;

$bzg-header-bg-color: $body-bg !default;
$bzg-header-sort-icon-content: '↑↓' !default;
$bzg-header-sort-icon-asc-content: '↓' !default;
$bzg-header-sort-icon-desc-content: '↑' !default;
$bzg-header-sort-icon-font-size: 110% !default;
$bzg-header-sort-icon-opacity: 0.5 !default;
$bzg-header-sort-icon-active-opacity: 1.0 !default;
$bzg-header-sort-icon-active-color: $primary-color !default;
$bzg-header-sort-icon-letter-spacing: -2px !default;
$bzg-header-sort-icon-active-letter-spacing: initial !default;
$bzg-header-cell-hover-bg: $bzg-cell-hover-bg !default;
$bzg-header-cell-hover-color: $primary-color-light !default;
$bzg-header-cell-hover-left-border-width: 2px !default;

$bzg-placeholder-border-radius: $border-radius !default;
$bzg-placeholder-foreground: rgba(0,0,0,.08) !default;
$bzg-placeholder-bg: rgba(0,0,0,.04) !default;

$bzg-overlay-bg: rgba(255,255,255,.8) !default;
