@layout DocumentationLayout
@page "/docs/advanced/sass"
<h1>Build your own CSS</h1>
<p>If you need more fine-grained control over the look of the grid, you can build your own CSS based on BlazorGrid's SCSS files.</p>

<h5 class="mt-4">Step 1</h5>
<p>Download the current version of BlazorGrid.scss from GitHub:</p>
<a href="https://github.com/Akinzekeel/BlazorGrid/tree/master/BlazorGrid/Content" class="btn btn-dark" target="_blank">GitHub<i class="fa fa-external-link ml-1"></i></a>

<h5 class="mt-4">Step 2</h5>
<p>Create a new SCSS file and set the variables you wish to customize. Then import the SCSS file which you downloaded in step 1.</p>
<p>In fact, BlazorGrid's own CSS files are built in exactly the same way. For example, this is how the bootstrap version is built using SCSS:</p>
<pre class="pre-scrollable"><code>@@import './bootstrap/scss/_functions';
@@import './bootstrap/scss/_variables';

$bzg-cell-padding-x: $table-cell-padding !default;
$bzg-cell-padding-y: $table-cell-padding !default;
$bzg-cell-hover-bg: $list-group-hover-bg !default;
$bzg-cell-hover-color: $list-group-action-hover-color !default;
$bzg-cell-active-bg: $list-group-action-active-bg !default;
$bzg-cell-active-color: $list-group-action-active-color !default;
$bzg-cell-border-bottom-width: $list-group-border-width !default;
$bzg-cell-border-color: $list-group-border-color !default;

$bzg-header-bg-color: $list-group-bg !default;
$bzg-header-sort-icon-content: '↑↓' !default;
$bzg-header-sort-icon-asc-content: '↓' !default;
$bzg-header-sort-icon-desc-content: '↑' !default;
$bzg-header-sort-icon-font-size: 110% !default;
$bzg-header-sort-icon-opacity: 0.5 !default;
$bzg-header-sort-icon-active-opacity: 1.0 !default;
$bzg-header-sort-icon-active-color: $primary !default;
$bzg-header-sort-icon-letter-spacing: -2px !default;
$bzg-header-sort-icon-active-letter-spacing: initial !default;
$bzg-header-filter-icon-color: $secondary !default;
$bzg-header-cell-hover-bg: $bzg-cell-hover-bg !default;
$bzg-header-cell-hover-color: $primary !default;
$bzg-header-cell-hover-left-border-width: 2px !default;

$bzg-placeholder-border-radius: $border-radius-sm !default;
$bzg-placeholder-foreground: rgba(0,0,0,.08) !default;
$bzg-placeholder-bg: rgba(0,0,0,.04) !default;

$bzg-overlay-bg: rgba(255,255,255,.8) !default;

@@import 'blazorgrid.scss';</code></pre>

<h5 class="mt-4">Step 3</h5>
<p>Build your CSS using your SCSS/Sass processor of choice and you're done! Keep in mind that you only need to include your own CSS file for BlazorGrid at this point and you should not also reference any of the included CSS files.</p>