@inherits LayoutComponentBase
<StackPanel Orientation="Orientation.Vertical" style="height:100vh;width:100vw;">
    <TopNav />
    <div class="container grid-lg py-2">
        <StackPanel Orientation="Orientation.Horizontal">
            <StackItem class="pr-2">
                <ul class="menu mr-2" style="position: sticky; top: 0;">
                    <li class="menu-item">
                        <NavLink class="" href="/demos/basic">
                            Basic example
                        </NavLink>
                    </li>
                    <li class="menu-item">
                        <NavLink class="" href="/demos/sorting">
                            Sorting
                        </NavLink>
                    </li>
                    <li class="menu-item">
                        <NavLink class="" href="/demos/on-click">
                            OnClick action
                        </NavLink>
                    </li>
                    <li class="menu-item">
                        <NavLink class="" href="/demos/events">
                            Events
                        </NavLink>
                    </li>
                    <li class="menu-item">
                        <NavLink class="" href="/demos/pre-loaded">
                            Pre-loaded data
                        </NavLink>
                    </li>
                    <li class="menu-item">
                        <NavLink class="" href="/demos/search-and-filter">
                            Search &amp; filtering
                        </NavLink>
                    </li>
                </ul>
            </StackItem>
            <ScrollView style="min-height: 100vh">
                @Body
            </ScrollView>
        </StackPanel>
    </div>
    <PageFooter />
</StackPanel>