@inherits LayoutComponentBase
<div class="min-vh-100 d-flex flex-column">
    <TopNav />
    <div class="flex-grow-1 d-flex">
        <!-- Demo navigation -->
        <div class="pt-3" id="demo-menu">
            <div class="menu">
                <NavLink class="menu-item" href="/demos/basic">
                    Basic grid
                </NavLink>
                <NavLink class="menu-item" href="/demos/sorting">
                    Sorting
                </NavLink>
                <NavLink class="menu-item" href="/demos/on-click">
                    OnClick action
                </NavLink>
                <NavLink class="menu-item" href="/demos/events">
                    Events
                </NavLink>
                <NavLink class="menu-item" href="/demos/pre-loaded">
                    Pre-loaded data
                </NavLink>
                <NavLink class="menu-item" href="/demos/search">
                    Search
                </NavLink>
                @*<NavLink class="menu-item" href="/demos/filters">
                        Filters
                    </NavLink>*@
                <NavLink class="menu-item" href="/demos/attributes">
                    Attributes
                </NavLink>
            </div>
        </div>
        <!-- Content -->
        <div class="px-5 py-3 flex-grow-1 overflow-auto">
            @Body
        </div>
    </div>
    <PageFooter />
</div>