@inherits LayoutComponentBase
<div class="min-vh-100 d-flex flex-column">
    <TopNav FullWidth="true" SidebarSubmenu="Menu(true)" />
    <div class="flex-grow-1 d-flex">
        <!-- Demo navigation -->
        <div class="py-2 py-md-3 py-lg-4 py-xl-5 mr-4 sidebar sidebar-dark d-none d-md-block">
            @Menu(false)
        </div>
        <!-- Content -->
        <div class="container-fluid py-2 py-md-3 py-lg-4 py-xl-5 flex-grow-1 overflow-auto">
            @Body
        </div>
    </div>
    <PageFooter />
</div>
@code
{
    private RenderFragment Menu(bool caption) => __builder =>
    {
    <div class="menu">
        @if (caption)
            {
            <h5>Examples</h5>
            }
        <NavLink class="menu-item" href="/examples" Match="NavLinkMatch.All">
            Basic grid
        </NavLink>
        <NavLink class="menu-item" href="/examples/sorting">
            Sorting
        </NavLink>
        <NavLink class="menu-item" href="/examples/on-click">
            OnClick action
        </NavLink>
        <NavLink class="menu-item" href="/examples/search">
            Search
        </NavLink>
        @*<NavLink class="menu-item" href="/examples/filters">
                Filters
            </NavLink>*@
        <NavLink class="menu-item" href="/examples/attributes">
            Attributes
        </NavLink>
        <NavLink class="menu-item" href="/examples/dynamic-layout">
            Dynamic layout
        </NavLink>
        <NavLink class="menu-item" href="/examples/virtualization">
            Virtualization
        </NavLink>
    </div>
    };
}