@inherits LayoutComponentBase
<div class="min-vh-100 d-flex flex-column">
    <TopNav />
    <div class="flex-grow-1 d-flex">
        <!-- Demo navigation -->
        <div class="pt-4 shadow sidebar">
            <div class="menu">
                <NavLink class="menu-item" href="/examples" Match="NavLinkMatch.All">
                    Basic grid
                </NavLink>
                <NavLink class="menu-item" href="/examples/sorting">
                    Sorting
                </NavLink>
                <NavLink class="menu-item" href="/examples/on-click">
                    OnClick action
                </NavLink>
                <NavLink class="menu-item" href="/examples/pre-loaded">
                    Pre-loaded data
                </NavLink>
                <NavLink class="menu-item" href="/examples/search">
                    Search
                </NavLink>
                @*<NavLink class="menu-item" href="/examples/filters">
                        Filters
                    </NavLink>*@
                <NavLink class="menu-item" href="/examples/attributes">
                    Attributes
                </NavLink>
                <NavLink class="menu-item" href="/examples/dynamic-layout">
                    Dynamic layout
                </NavLink>
                <NavLink class="menu-item" href="/examples/virtualization">
                    Virtualization
                </NavLink>
            </div>
        </div>
        <!-- Content -->
        <div class="p-5 flex-grow-1 overflow-auto">
            @Body
        </div>
    </div>
    <PageFooter />
</div>