<footer class="bg-primary py-2">
    <div class="container grid-lg py-2">
        <div class="text-center py-2">
            <span>Made with ❤ by <a class="text-light" href="https://twitter.com/Akinzekeel" target="_blank">@@Akinzekeel</a></span>
        </div>
    </div>
</footer>