<footer class="bg-dark text-light py-3">
    <div class="container text-center">
        <span>MIT License</span>
        <span class="mx-2">&bull;</span>
        <span>Made with <i class="fa fa-heart text-danger"></i> by <a class="text-light" href="https://twitter.com/Akinzekeel" target="_blank"><i class="fa fa-twitter mr-1"></i>Akinzekeel</a></span>
        <span class="mx-2">&bull;</span>
        <span><a href="https://www.paypal.com/paypalme/akinzekeel" class="text-light" target="_blank"><i class="fa fa-paypal mr-1"></i>Support my work</a></span>
    </div>
</footer>