<footer class="bg-info text-light py-3">
    <div class="container text-center">
        <a href="https://github.com/Akinzekeel/BlazorGrid/blob/master/LICENSE" class="text-nowrap text-light"><i class="fa fa-balance-scale mr-1"></i>MIT</a>
        <span class="mx-2">&bull;</span>
        <span class="text-nowrap">Made with <i class="fa fa-heart text-danger"></i> by <a class="text-light" href="https://twitter.com/Akinzekeel" target="_blank"><i class="fa fa-twitter fa-fw"></i>Akinzekeel</a></span>
        <span class="mx-2">&bull;</span>
        <span><a href="https://www.paypal.com/paypalme/akinzekeel" class="text-light text-nowrap" target="_blank"><i class="fa fa-paypal mr-1"></i>Support my work</a></span>
    </div>
</footer>