<header class="navbar navbar-expand navbar-dark bg-primary sticky-top shadow">
    <div class="container-fluid">
        <div class="nav navbar-nav">
            <NavLink href="/" class="nav-link mr-2"><b>BlazorGrid</b> <small class="badge badge-warning">Preview</small></NavLink>
            <NavLink href="/getting-started" class="nav-link">Getting started</NavLink>
            <NavLink href="/examples" class="nav-link" Match="NavLinkMatch.Prefix">Examples</NavLink>
            <NavLink href="/docs" class="nav-link">Documentation</NavLink>
        </div>
        <div class="nav navbar-nav ml-auto">
            <a target="_blank" href="https://github.com/Akinzekeel/BlazorGrid" class="btn btn-outline-light ml-auto">
                <i class="fa fa-github mr-1"></i>
                <span>GitHub</span>
            </a>
        </div>
    </div>
</header>