<header class="navbar navbar-expand bg-light text-dark sticky-top shadow-sm">
    <div class="container-fluid">
        <div class="nav navbar-nav">
            <NavLink href="/" class="nav-link mr-2"><b>BlazorGrid</b> <small class="badge badge-light">Preview</small></NavLink>
            <NavLink href="demos/basic" class="nav-link">Demos</NavLink>
        </div>
        <div class="nav navbar-nav ml-auto">
            <a target="_blank" href="https://github.com/Akinzekeel/BlazorGrid" class="btn btn-outline-dark ml-auto">
                <i class="fa fa-github mr-1"></i>
                <span>GitHub</span>
            </a>
        </div>
    </div>
</header>