<header class="p-2">
    <div class="navbar container grid-lg">
        <section class="navbar-section">
            <NavLink href="/" class="navbar-brand mr-2"><b>BlazorGrid</b> <small class="label label-secondary">BETA</small></NavLink>
            <NavLink href="demos/basic" class="btn btn-link">Demos</NavLink>
        </section>
        <section class="navbar-section ml-auto">
            <a target="_blank" href="https://github.com/Akinzekeel/BlazorGrid" class="btn btn-link">GitHub</a>
        </section>
    </div>
</header>