@page "/fetchdata"
@using Demo.Shared
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<BlazorGrid TRow="WeatherForecast" SourceUrl="WeatherForecast">
    <GridCol Caption="Date" TRow="WeatherForecast">
        @context.Date.ToShortDateString()
    </GridCol>
    <GridCol Caption="Temp. (C)" TRow="WeatherForecast">
        @context.TemperatureC
    </GridCol>
    <GridCol Caption="Temp. (F)" TRow="WeatherForecast">
        @context.TemperatureF
    </GridCol>
    <GridCol AlignRight="true" Caption="Summary" TRow="WeatherForecast">
        @context.Summary
    </GridCol>
</BlazorGrid>