@inherits CommonPageBase
@layout DocumentationLayout
@page "/docs/helpers/iqueryable-extensions"
<h1>@Title</h1>
<p>The separate <code>BlazorGrid.Abstractions</code> NuGet package offers a few extension methods that can help you to translate the requested sorting into a usable <code>Expression</code> on the server side. To use these extension methods, you have to include the namespace <code>BlazorGrid.Abstractions.Extensions</code>.</p>

<table class="table table-striped table-borderless rounded-lg">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Parameters</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-monospace">OrderBy</td>
            <td class="text-monospace">string propertyName</td>
            <td>Apply sorting to an <code>IQueryable</code> only by providing the property name as a string.</td>
        </tr>
        <tr>
            <td class="text-monospace">OrderByDescending</td>
            <td class="text-monospace">string propertyName</td>
            <td>Apply sorting to an <code>IQueryable</code> only by providing the property name as a string.</td>
        </tr>
    </tbody>
</table>
@code
{
    protected override string Title => "IQueryable extensions";
}